<nav class="kantilever-background-blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo kantilever-zwart"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down kantilever-zwart">
      <li><a href="/">Fietsen</a></li>
      <li><a href="/customer">Klant</a></li>
      <li><a href="/products">Producten</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Fietsen</a></li>
      <li><a href="/customer">Klant</a></li>
      <li><a href="/products">Producten</a></li>
    </ul>
  </div>
</nav>
