<h2>Contact</h2>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>
      Kantilever B.V. <br>
      Kruisboog 42 <br>
      3905 TG Veenendaal <br>
      Tel: +31 318 552020 <br>
    </h4>

  </div>
  <div class="col-md-3">
    <h4>
      Email: info@kantilever.nl <br>
      IBAN: NL44 INGB 00058 54051 <br>
      K.v.K. 3013 5370 <br>
      BTW NL8062.30.277.B01 <br>
    </h4>
  </div>
  <div class="col-md-6">
    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>

