<div class="row">

  <div class="col-sm-12" *ngIf="!shoppingcartService.getOrder().orderitems.length > 0">
    <h1>Your shoppingcart is empty. Find products in the <a href="/catalog">Catalog</a>.</h1>
  </div>

  <div class="col-sm-12" *ngIf="shoppingcartService.getOrder().orderitems.length > 0">
    <table class="table">
      <caption *ngIf="shoppingcartview"><span class="glyphicon glyphicon-shopping-cart"></span> contents:
        <hr>
      </caption>
      <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>amount</th>
        <th></th>
      </tr>


      </thead>
      <tbody>
      <tr *ngFor="let oi of shoppingcartService.getOrder().orderitems">
        <td><a href="/product/{{oi.product.id}}"><img [src]="oi.product.image" style="max-height:40px;max-width:40px;"></a>
        </td>
        <td><a href="/product/{{oi.product.id}}">{{oi.product.name}}</a></td>
        <td>${{oi.product.price}} (<small>$ {{oi.product.price + (oi.product.price | tax)}} incl.</small>)</td>
        <td scope="row">{{oi.amount}}</td>
        <td *ngIf="shoppingcartview">
          <div class="row">
            <div class="col-sm-4">
              <button class="btn btn-xs btn-success" (click)="addProduct(oi.product)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-xs btn-warning" (click)="removeProduct(oi.product)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-xs btn-danger" (click)="clearProduct(oi.product)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h3>Total: ${{shoppingcartService.getOrder() | orderprice}}</h3>

    <div *ngIf="shoppingcartview">
      <a class="shoppingcart-icon-small btn btn-info" style="cursor:pointer;" href="/order">
        <span class="glyphicon glyphicon-shopping-cart"></span> Place order
      </a>
      <a class="shoppingcart-icon-small btn btn-danger" style="cursor:pointer;" (click)="emptyCart()">
        <span class="glyphicon glyphicon-remove"></span> Empty
      </a>
    </div>
  </div>
  <div *ngIf="shoppingcartview" class="col-sm-12">
    <hr>
    <h1 class="shoppingcart-icon-large"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
  </div>
</div>
