<div class="row">
  <div class="col-sm-6">

    <h1 class="shoppingcart-icon-large"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
    <h1 class="shoppingcart-icon-small"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
    <h1>Shoppingcart</h1>
  </div>

  <div class="col-sm-6">
    <table class="table">
      <caption>Shopping cart contents:</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Desription</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Test</td>
        <td>Dit is een product</td>
        <td>€20,00</td>
        <td><span class="glyphicon glyphicon-triangle-bottom" data-toggle="popover" title="Edit" data-content=""></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
