<div class="row">
  <div class="col-sm-3">

    <h1 class="shoppingcart-icon-large"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
    <h1 class="shoppingcart-icon-small"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
    <h1>Shoppingcart</h1>
  </div>

  <div class="col-sm-9">
    <table class="table">
      <caption>Shopping cart contents:</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Desription</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oi of order.orderitems">
        <th scope="row">{{oi.amount}}</th>
        <td>{{oi.product.name}}</td>
        <td>{{oi.product.description}}</td>
        <td>${{oi.product.price}}</td>
        <td>
          <div>
            <button class="btn btn-sm btn-success" (click)="increaseAmount(product)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-sm btn-warning" (click)="decreaseAmount(product)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-sm btn-danger" (click)="removeProduct(product)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <a href="/product/{{oi.product.id}}" class="btn btn-sm btn-primary">
              Details
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
