<nav class="navbar navbar-inverse">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kantilever</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/customer" routerLinkActive="active">Customer</a></li>
        <li><a routerLink="/customer/1" routerLinkActive="active">Customer 1</a></li>
        <li><a routerLink="/catalog" routerLinkActive="active">Catalog</a></li>
        <li><a routerLink="/product/1" routerLinkActive="active">Product 1</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
