$kantilever-blauw-achtergrond: rgb(170, 177, 228);
$kantilever-blauw-text: rgb(45,57,142);
$kantilever-zwart: rgb(0,0,0);

* {
  font-family:Calibri;
}

.kantilever-background-blue, .kantilever-background-blue * {
  background-color:$kantilever-blauw-achtergrond !important;
}

.kantilever-text-blue, .kantilever-text-blue * {
  color:$kantilever-blauw-text !important;
}

.kantilever-zwart, .kantilever-zwart * {
  color:$kantilever-zwart !important;
}

h1 {
  color: $kantilever-zwart;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

nav-header {
  height: 334px;
  background-image: url('../../images/banner.png');
  background-position-y: 64px;
  display: block;

  nav {
    box-shadow: none;
  }
}
homepage-component, product-overview-component {
  width:1200px;
  display:block;
  margin:0 auto;
  box-shadow: 0 0 2px black;
  }

