<div class="row">
  <div class="col-md-3">
    <img src="{{product.image}}" alt="">
  </div>
  <div class="col-md-9">
    <h3>Product Details</h3>
    <hr/>
    <dl class="row">
      <dt class="col-sm-4">Productnumber</dt>
      <dd class="col-sm-8">{{product.bsKey}}</dd>

      <dt class="col-sm-4">Name</dt>
      <dd class="col-sm-8">{{product.name}}</dd>

      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8">{{product.description}}</dd>

      <dt class="col-sm-4">Stock</dt>
      <dd class="col-sm-8">{{stock}}<span *ngIf="stock == undefined" class="glyphicon glyphicon-repeat rotating"></span></dd>

      <dt class="col-sm-4">Price</dt>
      <dd class="col-sm-8">$ {{product.price}}</dd>

      <dt class="col-sm-4">Tax</dt>
      <dd class="col-sm-8">$ {{(product.price | tax).toFixed(2)}}</dd>

      <dt class="col-sm-4">Price incl. Tax</dt>
      <dd class="col-sm-8">$ {{(product.price + (product.price | tax)).toFixed(2)}}</dd>

      <dt class="col-sm-4">Supplier</dt>
      <dd class="col-sm-8">{{product.supplier ? product.supplier.name : ''}}</dd>
    </dl>
    <hr/>
    <a class="btn btn-primary" (click)="addProductToCart(product)">Add To Cart</a>

  </div>
</div>
