<footer class="footer">
  <hr>
  <div class="col-sm-6">
    <h2 class="kantileverblauw">Services</h2>
    <ul>
      <li>Gratis verzending vanaf 200 euro</li>
      <li>30 dagen bedenktijd</li>
      <li>Achteraf betalen met acceptgiro</li>
      <li>Gratis retourneren</li>
      <li>Voor 12.00 uur besteld, de volgende dag in huis</li>
    </ul>
    <!--<h5 class="kantileverblauw">Gratis verzending vanaf 200 euro</h5>-->
    <!--<span>Alle bestellingen van € 200,- of meer versturen we gratis. Voor bestellingen onder € 200,-, betaal je € 5,- verzendkosten. Gratis verzending vanaf 200 euro geldt alleen voor verzendingen binnen Nederland en België.</span>-->
    <!--<h5 class="kantileverblauw">30 dagen bedenktijd</h5>-->
    <!--<span>Bij Kantilever mag je 30 dagen nadenken over je aankoop. Zo kun je uitgebreid je artikel bestuderen en ervaren of deze volledig naar wens is.</span>-->
    <!--<h5 class="kantileverblauw">Achteraf betalen met acceptgiro</h5>-->
    <!--<span>Voor bestellingen binnen Nederland is het mogelijk om met acceptgiro te betalen en zo pas te betalen als je je bestelling hebt ontvangen. Bij je bestelling zit dan een factuur met een acceptgiro die je invult en naar je bank stuurt of voldoet via internetbankieren.</span>-->
    <!--<h5 class="kantileverblauw">Gratis retourneren</h5>-->
    <!--<span>Ben je toch niet tevreden over het artikel? Dan mag je het gratis retourneren en krijg je het gehele aankoopbedrag teruggestort op je rekening.</span>-->
    <!--<h5  class="kantileverblauw">Voor 12.00 uur besteld, de volgende dag in huis</h5>-->
    <!--<span>Bestel je op werkdagen voor 12.00 uur, dan geldt voor het grootste deel van ons assortiment dat je artikel de volgende dag al wordt bezorgd. Wij doen ons uiterste best om elke bestelling zo snel mogelijk te bezorgen. We zijn voor een deel wel afhankelijk van externe partijen, waardoor de bezorging in een enkel geval vertraagd kan zijn.</span>-->
  </div>
  <div class="col-sm-6">
    <h2 class="kantileverblauw"> Contact </h2>
    <div class="col-sm-6">
      <span>Kantilever B.V.</span><br/>
      <span>Kruisboog 42</span><br/>
      <span>3905 TG Veenendaal</span><br/>
      <span>Tel: +31 318 552020</span><br/>
    </div>
    <div class="col-sm-6">
      <span>Email: info@kantilever.nl</span><br/>
      <span>IBAN: NL44 INGB 00058 54051</span><br/>
      <span>K.v.K. 3013 5370</span><br/>
      <span>BTW NL8062.30.277.B01</span>
    </div>
  </div>

</footer>
