  <div class="jumbotron wrapper">
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="jumbotron vertical center text-center">
        <div class="container">
          <a href="/catalog/Bikes" class="btn btn-primary home-button">
            <span aria-hidden="true"></span>
            Bikes
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron vertical center text-center">
        <div class="container">
          <a href="/catalog/Accessories" class="btn btn-primary home-button">
            <span aria-hidden="true"></span>
            Accessories
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron vertical center text-center">
        <div class="container">
          <a href="/catalog/Components" class="btn btn-primary home-button">
            <span aria-hidden="true"></span>
            Parts
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron vertical center text-center">
        <div class="container">
          <a href="/catalog/Clothing" class="btn btn-primary home-button">
            <span aria-hidden="true"></span>
            Clothing
          </a>
        </div>
      </div>
    </div>
  </div>
