.jumbotron.wrapper {
  background-image:url('../../../assets/img/banner.png');
  background-size: cover;
  height: 230px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.home-button{
  width: 150px;
  font-size: large;
  height: 40px;
}
.home-jumbotron{
  padding-left: 0;
  padding-right: 0;
}
