h2 {
  height: 33px;
  overflow-y:hidden;
  text-align:center;
}

.product-description {
  height:60px;
  overflow-y:hidden;
}

div.product-image {
  height:100px;
  width:100%;

  position:relative;
}

div.product-image img {
  display:block;
  max-height:100px;
  max-width:100%;

  position:absolute;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
}

.addtocart {
  position:relative;
  display:block;
}



.triangle-border.left {
  margin-left: 0;
}
.triangle-border {
  padding: 15px;
  margin: 0;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  border-radius: 10px !important;
  display:inline-block;
  position:absolute;
  top:50%;
  transform:translateY(-50%) translateX(100%);
  right:0;
  z-index:1000;
}

.triangle-border.orange {
  border-color:orange;
}

.triangle-border.left.orange:before, .triangle-border.orange:before  {
  border-color:  transparent orange;
}

.triangle-border.left:before {
  top: 10px;
  bottom: auto;
  left: -30px;
  border-width: 15px 30px 15px 0;
  border-color: transparent #5a8f00;
}
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  display: inline-block;
  width: 0;
}

.triangle-border.left:after {
  top: 16px;
  bottom: auto;
  left: -21px;
  border-width: 9px 21px 9px 0;
  border-color: transparent #fff;
}
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: inline-block;
  width: 0;
}
