<div class="thumbnail text-center">
  <img [src]="product.image" alt="product_image">
  <hr/>
  <p><strong>{{product.name}}</strong></p>
  <p><strong>${{product.price}}</strong></p>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary" (click)="addProductToCart(product)"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
    </div>
    <div class="col-md-6">
      <a routerLink="/product/{{product.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-tag"></span> Details</a>
    </div>
  </div>
</div>
