<div class="row">
  <div class="col-md-2">
    <strong><i class="glyphicon glyphicon-search"></i> Compare Products</strong>
    <hr>
    <!-- Left column -->
    <ul class="nav nav-stacked">
      <li>
        <p>
          <strong>Search</strong>
          <input type="text" class="form-control" id="search" placeholder="Searchterm" [(ngModel)]="search_term">
        </p>
      </li>
      <li>
        <strong>Categories:</strong>
        <div class="checkbox" *ngFor="let category of (categories ? categories.slice(0,8):[])">
          <label class="{{!category.state || 'boldClass'}}">
           {{category.name}} ({{category.productCount}})  <input type="checkbox" style="display: none;" [(ngModel)]="category.state" (click)="setCategoryOn(category)">
          </label>
        </div>
        <div *ngIf="categories.length > 8">
          <div class="collapse" id="moreCategories">
            <div class="checkbox" *ngFor="let category of categories | slice:8">
              <label class="{{!category.state || 'boldClass'}}">
                {{category.name}} ({{category.productCount}}) <input type="checkbox" style="display: none;"  [(ngModel)]="category.state" (click)="setCategoryOn(category)">
              </label>
            </div>
          </div>
          <a data-toggle="collapse" data-target="#moreCategories">All categories</a>
        </div>
      </li>
      <li>
        <strong>Suppliers:</strong>
        <div class="checkbox" *ngFor="let supplier of suppliers">
          <label>
            <input type="checkbox" [(ngModel)]="supplier.state"> {{supplier.name}}
          </label>
        </div>
      </li>
    </ul>
  </div>
  <!-- /col-3 -->
  <div class="col-md-10">
    <a href="/catalog"><strong><i class="glyphicon glyphicon-th"></i> Catalog</strong></a>
    <span *ngIf="param != undefined"> > </span>
    <a *ngIf="param != undefined" href="/catalog/{{param}}"><strong>{{param}}</strong></a>
    <hr>

    <div class="row">
      <!-- center left-->
      <div class="col-sm-12">
        <div class="form-inline pull-right">
          <strong>Sort By:</strong>
          <select id="sortby" class="form-control input-sm" [(ngModel)]="sort_rule">
            <option *ngFor="let sortrule of sort_options" [ngValue]="sortrule">{{sortrule}}</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="col-sm-6 col-md-3"
           *ngFor="let product of products | search : search_term | categoryfilter : categories | supplierfilter : suppliers  | sort : sort_rule">
        <product-thumbnail [product]="product"></product-thumbnail>
      </div>
    </div>
    <!--/row-->

  </div>
</div>
