/* You can add global styles to this file, and also import other style files */
* {
  border-radius:0 !important;
}

app-root {
  display:block;
  max-width:1200px;
  margin:0 auto;
}

header-navigation, catalog-page, customer-page, home-page, product-page {
  display:block;
}
