<form>
  <h3>User Account</h3>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username"
               [(ngModel)]="account.userName" name="username" required minlength="3">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required placeholder="Password"
               [(ngModel)]="account.password" name="password">
      </div>
    </div>
  </div>
  <h3>Personal Information</h3>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name"
               [(ngModel)]="account.customer.firstName" name="fName" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
               [(ngModel)]="account.customer.lastName" name="lName" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" placeholder="Email"
           [(ngModel)]="account.customer.email" name="email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" placeholder="Phone Number"
           [(ngModel)]="account.customer.phone" name="phone" required>
  </div>
  <div class="form-group">
    <label>Birth Date</label>
    <p>
      <my-date-picker [options]="myDatePickerOptions"
                      (dateChanged)="onDateChanged($event)"></my-date-picker>
    </p>
  </div>
  <h3>Addresses</h3>
  <hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" *ngFor="let address of account.customer.addresses; let i = index">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#address' + i" aria-expanded="true" aria-controls="collapseOne">
              {{address.street}} {{address.city}}
            </a>
          </h4>
        </div>
        <div id="address{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" class="form-control" id="street" placeholder="Street" [(ngModel)]="address.street">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="address.city">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zipCode">Zip Code</label>
                  <input type="text" class="form-control" id="zipCode" placeholder="Zip Code" [(ngModel)]="address.zip">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-primary pull-right" (click)="addAddress()">Add Address</a>
  <a href="#" class="btn btn-primary">Save Account</a>
  <button *ngIf="newCustomer" type="submit" class="btn btn-primary pull-right" (click)="registerAccount(account)">
    Register
  </button>
  <button *ngIf="!newCustomer" type="submit" class="btn btn-primary" (click)="saveAccountInfo(account)">
    Save info
  </button>
</form>
